<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency Exchange Charts</title>
    {% load static %}
      <link rel="stylesheet" href="{% static 'css/charts.css' %}" />
        {% load static %}
    <script type="module" defer src="{% static 'js/charts.js' %}"></script>
</head>
<body>
    <div class="nav-bar">
        <button id="go-home">HOMEPAGE</button>
        <button id="go-conv">CURRENCY CONVERTER</button>
    </div>
    <br>
    <div class="charts">
        <p>Bar chart for every currency value in Polish PLN: </p>
        <canvas id="barChart" ></canvas>
        <br>
        <br>
        <p>Chose country: </p>
        <div class="select-box">
          <img
                  id="flag"
                  src="https://www.countryflagicons.com/FLAT/64/EU.png"
                  alt="flag"
          />
            <label for="selector"></label><select id="selector">
            <option value="US">USD</option>
            <option value="EU" selected>EUR</option>
            <option value="GB">GBP</option>
            <option value="CH">FR</option>
            <option value="PL">PLN</option>
          </select>
        </div>
        <p>Line chart for chosen currency for picked past 10 days: </p>
        <canvas id="lineChart" ></canvas>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    {% load static %}
    <script type="module" src="{% static 'js/charts.js' %}"></script>
</body>
</html>