<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency Exchange Charts</title>
    {% load static %}
      <link rel="stylesheet" href="{% static 'css/charts.css' %}" />
</head>
<body>
    <div class="nav-bar">
        <button id="go-home">HOMEPAGE</button>
        <button id="go-conv">CURRENCY CONVERTER</button>
    </div>
    <br>
    <div class="charts">
        <p>asdad</p>
        <canvas id="barChart" ></canvas>
        <br>
            <div class="line-chart-flag">
                <p>To</p>
                <div class="select-box">
                  <img
                    id="flag"
                    src="https://www.countryflagicons.com/FLAT/64/EU.png"
                    alt="flag"
                  />
                    <label for="select"></label><select id="select">
                    <option value="US">USD</option>
                    <option value="EU">EUR</option>
                    <option value="GB">GBP</option>
                    <option value="CH">FR</option>
                    <option value="PL" selected>PLN</option>
                  </select>
                </div>
            </div>
        <canvas id="lineChart" ></canvas>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    {% load static %}
    <script type="module" src="{% static 'js/charts.js' %}"></script>
</body>
</html>