<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage for Currency Converter</title>
          {% load static %}
      <link rel="stylesheet" href="{% static 'css/homepage.css' %}" />
          {% load static %}
    <script
            defer src="{% static 'js/homepage.js' %}">
    </script>
</head>
<body>
    <div class="topnav">
        <button id="go-charts">CHARTS</button>
        <button id="go-conv">CURRENCY CONVERTER</button>
    </div>
    <br>
    <div class="main">
        <h1>Welcome to Currency Converter!</h1>
        <div id="main-info">
            <p><strong>Purpose:</strong></p>
            <p>dasdasdasd</p>
            <br>
            <p><strong>How to use it:</strong></p>
            <p>asdasd</p>
            <p><strong>Requirements, technical side:</strong></p>
            <p>dasda</p>
        </div>
    </div>
    <br>
    <footer>
        <h4 class="by-who">Designed by</h4>
        <p class="initials"> <a href="https://github.com/PsimonL">&copy;Szymon Rogowski </a> at AGH UST in Kraków</p>
    </footer>
</body>
</html>